<h4 class="mt-4">Application Form</h4>

<form action="/jobs/{{job['id']}}/apply" method='post'>
  <div>
    <lable>Full Name</lable><br>
    <input type="text" required name="full_name" placeholder="Bruce Wayne">
  </div>
  <div class="mt-2">
    <lable>Email</lable><br>
    <input type="email" required name="email" placeholder="brucew@gotham.com">
  </div>
  <div class="mt-2">
    <lable>LinkedIn Link</lable><br>
    <input type="url" name="linkedin_url" placeholder="brucew@linkedin.com">
  </div class="mt-2">
  <div class="mt-3">
    <input type="submit">
  </div>
</form>